.hidden-message.black {
    color: black;
  }
  
  .hidden-message.red {
    color: red;
  }
  
  .hidden-message.green {
    color: green;
  }
  
  .hidden-message.blue {
    color: blue;
  }
  
  .hidden-message.small {
    font-size: 8px;
  }
  
  .hidden-message.normal {
    font-size: 14px;
  }
  
  .hidden-message.large {
    font-size: 30px;
  }